*.sublime-project
*.sublime-workspace
.metadata
Debug
*.code-workspace
notatki-ogolne.txt~
RemoteSystemsTempFiles/
documents/
coursera-test-peers/
.tracecompass
.vscode/
.cproject
.project
.settings/
.vscode/
*.cbp
*.layout
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
